body{
  font-family: Arial;
  background:#0f172a;
  color:white;
  text-align:center;
}
.box{
  background:#111827;
  padding:20px;
  margin:20px;
  border-radius:12px;
}
button{
  padding:10px 20px;
  border:none;
  border-radius:8px;
  background:#22c55e;
  color:black;
  font-weight:bold;
}
input{
  padding:10px;
  margin:5px;
  border-radius:6px;
}
header{
  display:flex;
  justify-content:space-between;
  padding:10px;
}
