body{
  font-family: Arial;
  background:#0f172a;
  color:white;
  text-align:center;
}

.box{
  background:#111827;
  padding:20px;
  margin:20px auto;
  width:90%;
  max-width:400px;
  border-radius:12px;
}

input{
  width:90%;
  padding:10px;
  margin:5px;
  border-radius:6px;
}

button{
  padding:10px 20px;
  margin:5px;
  border:none;
  border-radius:8px;
  background:#22c55e;
  font-weight:bold;
}

header{
  display:flex;
  justify-content:space-between;
  padding:10px;
}
