body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background:linear-gradient(135deg,#020617,#020617);
  color:white;
}

.container{
  max-width:360px;
  margin:40px auto;
  padding:20px;
}

.box{
  background:#0f172a;
  border-radius:15px;
  padding:20px;
  box-shadow:0 0 25px #22c55e;
  margin-bottom:20px;
}

h2,h3{
  text-align:center;
  color:#22c55e;
}

input{
  width:100%;
  padding:12px;
  margin-top:10px;
  border:none;
  border-radius:10px;
  outline:none;
}

button{
  width:100%;
  padding:12px;
  margin-top:15px;
  border:none;
  border-radius:12px;
  background:#22c55e;
  color:black;
  font-size:16px;
  font-weight:bold;
  cursor:pointer;
  transition:0.3s;
}

button:hover{
  box-shadow:0 0 15px #22c55e;
  transform:scale(1.02);
}

button:disabled{
  background:#475569;
  box-shadow:none;
  cursor:not-allowed;
}

.plan{
  border:1px solid #22c55e;
  border-radius:12px;
  padding:15px;
  margin-top:15px;
  text-align:center;
}

.plan p{
  margin:6px 0;
}

.balance-box{
  background:#020617;
  padding:12px;
  border-radius:10px;
  text-align:center;
  margin-bottom:15px;
  box-shadow:inset 0 0 10px #22c55e;
}

#walletBox{
  display:none;
  background:#020617;
  padding:10px;
  margin-top:15px;
  border-radius:10px;
  text-align:center;
}

#walletBox img{
  width:180px;
  margin-top:10px;
}
